<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p - %C{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>
    
    <appender name="FILEAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
    	<param name="file" value="C:/deploy/logs/diageo_tomcat2.log"/>
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%n%d%n\%p : %l%n%m%n%n"/>
		</layout>
	</appender>
	
	<!-- 
	1.3
	<appender name="FILEAPPENDER" class="org.apache.log4j.rolling.RollingFileAppender">
	     <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
	        <param name="FileNamePattern" value="C:/deploy/logs/admin.%d{yyyy-MM-dd-HH-mm}.log.gz" />
	        <param name="MinIndex" value="0" />
	        <param name="MaxIndex" value="10" />
	     </rollingPolicy>
	     <param name="Append" value="true" />
	     <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="%d %5p %c{1} - %m%n" />
	     </layout>
	  </appender>
	  
	1.2
	<appender name="FILEAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
    	<param name="file" value="C:/deploy/logs/admin.log"/>
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%n%d%n\%p : %l%n%m%n%n"/>
		</layout>
	</appender>
	
	<appender name="FILEAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
    	<param name="file" value="D:/deploy/logs/admin.log"/>
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%n%d%n\%p : %l%n%m%n%n"/>
		</layout>
	</appender>
	
	<appender name="FILEAPPENDER" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="true"/>
		<param name="file" value="C:/deploy/logs/admin.log"/>
		<param name="maxFileSize" value="1MB"/>
		<param name="maxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{MMM dd hh:mm:ss aa} %p - %C{1}.%M(%L) | %m%n"/>
		</layout>
	</appender> 
	 
    <appender name="ADVICECONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p - %m%n"/>
        </layout>
    </appender>	
    -->
    
    <logger name="org.apache">
        <level value="ERROR"/>
    </logger>

    <logger name="org.springframework">
        <level value="ERROR"/>
    </logger>

    <!-- Application Logger - START -->
    <logger name="kr.co.nis">
        <level value="ERROR"/>
    </logger>
    
    <logger name="com.kia">
        <level value="ERROR"/>
    </logger>
    <!-- Application Logger - END -->
    
    <root>
        <!-- level : DEBUG < INFO < WARN < ERROR < FATAL -->
        <level value="ERROR"/>
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILEAPPENDER"/>
    </root>
    
</log4j:configuration>