@charset "utf-8";
/* CSS Document */

HTML {
	HEIGHT: 100%; FONT-SIZE: 100%
}
BODY {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 12px/140% Dotum; HEIGHT: 100%; COLOR: #606060; PADDING-TOP: 0px; 
}
H1 {
	FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; WORD-BREAK: break-all
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; WORD-BREAK: break-all
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}

LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; WORD-BREAK: break-all
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}

IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
/******************************************************************************
	Login part
******************************************************************************/
#wrapperbg {
	position: absolute; top: 20%; width: 100%; height:449px; background:url(../images/login/bg_orage.jpg);
}
#wrapper {
	position: absolute; top: 20%; left: 50%; width: 540px; margin: auto 0 0 -270px;
}
#wrapper #wrap {
	MARGIN: 0px auto; WIDTH: 540px;
}
#header_green{
	width:510px; height:50px; z-index:2; position:absolute; background-color:#a4c94a; margin-top:10px; padding-top:40px; padding-left:30px;
}
#header_orage{
	width:510px; height:50px; z-index:2; position:absolute; background-color:#fee3c8; margin-top:10px; padding-top:40px; padding-left:30px;
}
	
#content{
	WIDTH: 540px;
	height:184px;
	z-index:1;
	position:absolute;
	background-color: #525252;
	top: 100px;
}
#login{
	width:480px; height:124px; margin-left:15px; margin-top:15px; background-color:#FFF; padding-left:30px; padding-top:30px;
}
#lbody{ 
}
#lbody li{
	margin-bottom:10px; padding-left:15px; font-weight:bold;
}
.mt25{
	text-align:right; margin-top:-17px; FONT: 10px/140% Dotum;
}
.r25{
	margin-left:12px;	
}
.input_txt {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 2px; WIDTH: 250px; PADDING-RIGHT: 0px; HEIGHT: 25px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 0px; background-color:#ffffff; FONT: 14px/140% Dotum; COLOR: #7cac07; font-weight:bold;
}
#btn{
	margin-top:-75px; margin-left:340px;
}
#id_chk{
		FONT: 11px/140% Dotum; COLOR: #606060; margin-top:-50px; padding-left:270px;
}
#footer{
	margin-top:300px; width:540px; FONT: 11px/140% Dotum; COLOR: #8b8b8b; text-align:left; position:absolute;z-index:3;
	}

